@import '../../../../assets/colors.module.scss';

.details-container {
  width: 1050px;
  background-color: $black;
  border-radius: 14px;
  padding: 10px 20px 20px 20px;
}

.car-img {
  img {
    width: 500px;
    height: 310px;
    border-radius: 14px;
  }
}

.atpv-modal {
  width: 800px;
  height: 420px;
}

.img-container {
  height: 100%;
  overflow: auto;
}
