$primary: #f21b2d;
$secondary: #590202;

$gray: #d9d9d9;
$green: #2ead61;

$white: #ffffff;
$black: #121212;
$background: #2c2c2c;
$hover: #1c1c1c;

:export {
  primary: #f21b2d;
  secondary: #590202;

  gray: #d9d9d9;
  green: #2ead61;

  white: #ffffff;
  black: #121212;
  background: #2c2c2c;
  hover: #1c1c1c;
}
